<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="{{manifest['common.css']}}">
<!--    <link rel="stylesheet" href="/public/dist/index.css">-->
    <link rel="stylesheet" href="{{manifest['index.css']}}">
</head>
<body>
<div class="nav-wrap">
    <div class="nav-cont" style="display: block;">
        <div class="box">
            <div class="btn-change-nav-cont">
                <a>
                    导航
                    <i class="iconfont iconsousuo"></i>
                    <i class="iconfont iconcaidan"></i>
                </a>
            </div>
            <ul class="nav-right-content" style="display: none;">
                <li class="active"><a href="/">首页</a><i class="border"></i></li>
                <li><a href="/irc/" target="_blank">招聘会+</a><i class="border"></i></li>
                <li><a target="_blank">领秀</a><i class="border"></i></li>
                <li><a >制造学院</a><i class="border"></i></li>
                <li class="user-msg-box no-login">
                    <a class="user-name hidden" href="http://my.job5156.com/per"></a>
                    <i class="caret-bottom hidden"></i>
                    <ul class="hidden" id="user_msg">
                        <li>
                            <a><span>个人中心</span></a>
                        </li>
                        <li class="has-border">
                            <a ><span>我的简历</span></a>
                        </li>
                        <li>
                            <a ">
                                <span class="numbs interview-numbs"></span>
                                <span>面试邀请</span>
                            </a>
                        </li>
                        <li>
                            <a >
                                <span class="numbs check-numbs"></span>
                                <span>谁看过我</span>
                            </a>
                        </li>
                        <li class="has-border">
                            <a >
                                <span class="numbs letter-numbs"></span>
                                <span>站内消息</span>
                            </a>
                        </li>
                        <li><a >账号设置</a></li>
                        <li id="logout"><a>退出</a></li>
                    </ul>
                    <span class="btn-login-reg">
                        <a >个人注册</a> / <a class="login-per-dialog">登录</a>
                    </span>
                </li>
            </ul>
          
            <input type="hidden" id="page_name" value="index">
            <input type="hidden" id="cityEn" value="index">

            <div class="search-cont">
                <div class="search-content">
                    <form id="searchForm">
                        <div class="search-bar-cont">
                            <div class="key-type-box" id="key_type_sel" style="z-index: 0;">
                                <i class="caret-bottom"></i>
                                <input name="keywordType" id="comType" data-sel="value" type="hidden" autocomplete="off" value="0">
                                <input name="keyTypeName" id="keyTypeName" data-type="text" type="button" value="全文" class="btnKeyType" tabindex="-1" autocomplete="off" readonly="">
                                <div class="outList" style="display: none;">
                                    <p class="padding-block"></p>
                                    <div class="iList"><a href="javascript:;" data-value="0" style="display:none;">全文</a><a href="javascript:;" data-value="1">职位</a><a href="javascript:;" data-value="2">公司</a></div>
                                </div>
                            </div>
                            <div class="key-box">
                                <input name="keyword" id="keyword" maxlength="200" placeholder="请输入关键词 / 职位名 / 企业名" autocomplete="off">
                                <div class="search_tip_cont" style="display: none;">
                                    <div class="search_tip_box">
                                        <p class="search_tip_nav">
                                            <span class="nav_word">热门职位</span>
                                        </p>
                                        <ul class="search_tip_content"></ul>
                                    </div>
                                </div>
                            </div>
                            <div class="city-box">
                                <input id="name_searchCity" class="cityName" name="searchCityName" type="button" tabindex="-1" autocomplete="off" readonly="" disabled="">
                                <a class="dropDownArrow" id="btn_searchCity" title="点击选择工作地区"><span>选择地区</span></a>
                                <input id="id_searchCity" name="locationList" type="hidden" tabindex="-1" value="">
                                <i class="caret-bottom"></i>
                            </div>
                            <div class="btn-search" title="搜索">
                                <a class="iconfont iconsousuo" data-act="search" data-st="s" title="搜索"></a>
                            </div>
                            <p class="clear-both"></p>
                        </div>

                        <input type="hidden" name="_csrf" value="alEkzSs3-zZiyIqQ1sP05rncUjbD0EP8DxSE"></form>
                </div>
            </div>

            <div class="Hr_helper_entrance" style="display: none;">
                <!-- <div>
                     <img src="/public/images/icon/user_default_gril.png">
                     <div>
                         <p>有<span class="msg_num">34</span>家企业HR希望与你<a href="/per?hr=1&t=">面试</a></p>
                         <i class="close_entrance">&times;</i>
                     </div>
                 </div>-->
            </div>
        </div>
    </div>
</div>
<div style="height:116px;" id="anchor-float"></div>
<div class="banner-cont">
    <div class="box">


        <div class="login-insert-block">
            <i class="mask-loading"></i>
            <div class="pic-app-download">
                <div>
                    <span class="btn-download-app close">注册/登录</span>
                    <img src="/public/images/per_qrcode_app.png" width="144" height="144">
                </div>
            </div>
            <div class="user-msg-cont hidden">
                <span class="btn-download-app">下载APP</span>
                <a class="user-photo">
                    <img src="" width="70" height="70">
                </a>
                <p class="user-name-box">
                    <span class="user-name"></span><i class="iconfont iconnan"></i><i class="iconfont iconnv hidden"></i>
                </p>
                <div class="job-state">
                    <span class="text"></span>
                    <i class="caret-bottom"></i>
                    <i class="caret-top"></i>
                    <div class="dropdown-menu">
                        <ul>
                            <li data-val="0">目前正在找工作</li>
                            <li data-val="3">在职，有好的机会再考虑</li>
                            <li data-val="4">我暂时不想找工作</li>
                        </ul>
                    </div>
                </div>
                <div class="msg-nums-tip">
                    <a>
                        <span><i class="badge interview-numbs"></i><i class="iconfont iconmianshiyaoqing"></i></span>
                        <p>面试邀请</p>
                    </a>
                    <a class="mid" >
                        <span><i class="badge check-numbs"></i><i class="iconfont iconshuikanguowo"></i></span>
                        <p>谁看过我</p>
                    </a>
                    <a >
                        <span><i class="badge letter-numbs"></i><i class="iconfont iconzhanneixiaoxi"></i></span>
                        <p>站内消息</p>
                    </a>
                </div>
                <div class="res-integrity">
                    <div class="res-progressbar">
                        <p class="text">
                            <span class="res-perfectNum "></span>
                            <i>简历完整度</i>
                        </p>
                        <div class="progressbar"><i class="res-perfectNum-bar"></i></div>
                    </div>
                    <a >编辑简历</a>
                </div>
                <div class="res-integrity">
                    <div class="res-progressbar">
                        <p class="text">
                            <span class="res-freshness"></span>
                            <i>简历新鲜度</i>
                        </p>
                        <div class="progressbar"><i class="res-freshness-bar"></i></div>
                    </div>
                    <a >刷新简历</a>
                </div>
            </div>
            <div class="login-cont hidden" style="display: block;">
                <div class="img-bg">
                    <span class="btn-download-app">下载APP</span>
                </div>
                <div class="login-form-box">
                    <div class="login-form-content">
                     
                        <input type="hidden" value="" id="isAutoRegain">
                        <form id="reg_form" class="login-form active" no
