@import 'icon.scss';
@import "variable";
/**** 注册、登录、找回密码  --公共样式  ********/

$color_004098: #004098;
$color_909399: #909399;

body {
    background: #f2f6fc;
}

/**** 公共头部 **********/
.reg_header_cont {
    background: #fff;
    @extend %shadow-bottom;
    .box {
        width: 960px;
        margin: 0 auto;
    }
    @at-root .reg_header_content {
        height: 70px;
        > .fr {
            font-size: 16px;
            color: #666;
            line-height: 70px;
            a {
                color: $color_main;
                text-decoration: underline;
            }
            i {
                font-family: simsun;
                font-size: 20px;
                vertical-align: middle;
            }
        }

        @at-root .reg_zt_logo {
            display: inline-block;
            width: 305px;
            height: 50px;
            //background: url("../images/zt_logo_02.png") no-repeat;
            text-indent: -999px;
            margin-top: 10px;
        }
    }
}

/**** 主体内容 **********/
.reg_main_cont {
    width: 100%;
    height: 792px;
    text-align: center;
    overflow: hidden;
    position: relative;
    .box {
        width: auto;
    }
    @at-root .bg_cont {
        position: absolute;
        left: 0;
        top: 104px;
        width: 100%;
        height: 100%;
        z-index: -1;
        .bg_box {
            position: absolute;
            left: 50%;
            top: 0;
            .bg_content {
                position: relative;
                right: 50%;
            }
        }
    }
    .box {
        display: inline-block;
        text-align: left;
        .title {
            font-size: 30px;
            font-weight: bold;
            color: $color_004098;
            text-align: center;
            margin: 55px 0 25px;
        }
        @at-root .reg_main_content,.login_main_content {
            width: 450px;
            background: #fff;
            padding: 40px 50px;
            @extend %shadow-four;

            @at-root #mobileForm {
                //注册按钮
                @at-root .loginBtn {
                    display: block;
                    width: 100%;
                    height: 50px;
                    text-align: center;
                    font-size: 16px;
                    font-family: "Microsoft Yahei", "SimSun";
                    color: #fff;
                    background: $color_main;
                    border-radius: 22px;
                    margin: 10px auto 28px;
                    cursor: pointer;
                    &:hover {
                        background: #f58220;
                    }
                }
            }
            //用于显示手机号码 134-1111-3015
            @at-root .mobileShow {
                position: absolute;
                left: 0;
                top: 0;
                background: #fff;
            }
        }
    }
}

//公共的表单内容
@at-root .loginInfo {
    height: 45px;
    margin-bottom: 24px;
    position: relative;
    font-size: 14px;
    //图片验证码
    &.img_captcha_group {
        //display: none;
        input[type=text] {
            width: 240px;
        }
        img {
            width: 90px;
            height: 45px;
            float: right;
            cursor: pointer;
        }
    }

    input[type=text], input[type=password] {
        width: 100%;
        height: 100%;
        border: 1px solid $color_border;
        padding: 0 20px;
        color: #333;
        &::-webkit-input-placeholder, &:-ms-input-placeholder, &:-moz-placeholder {
            color: $color_placeholder;
        }
        &:focus {
            border-color: $color_focus;
        }
        &.error {
            border-color: $color_red;
        }
    }

    @at-root .isSeePw {
        position: absolute;
        right: 20px;
        top: 15px;
        cursor: pointer;
    }
    //获取短信验证码
    @at-root .getIdCode {
        /*position: absolute;
        right: 1px;
        top: 1px;
        width: 100px;
        height: 43px;
        line-height: 43px;
        background: $color_909399;
        color: #fff;
        text-align: center;
        cursor: pointer;*/
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 8px;
        z-index: 100;
        border-radius: 3px;
        width: 103px;
        height: 30px;
        font-size: 14px;
        line-height: 30px;
        text-align: center;
        color: #fff;
        background: $color_909399;
        cursor: pointer;
        &.disable {
            background: #c0c4cc;
            color: #fff;
            cursor: not-allowed;
        }

        &:hover {
            color: #fff;
        }
    }
    //是否同意协议
    &.agreement_cont {
        height: auto;
        padding-top: 6px;
        @at-root .simulation {
            font-size: 12px;
            color: $color_909399;
            cursor: pointer;
            .simIcon, .simTxt {
                display: inline-block;
                vertical-align: middle;
                user-select: none;
            }

            a {
                vertical-align: middle;
                color: $color_004098;
                &:hover {
                    color: $color_004098;
                }
            }
        }
    }

    .tips {
        @at-root label.error {
            display: block;
            padding-left: 20px;
            line-height: 24px;
            font-size: 12px;
            color: $color_red;
        }
    }
}

//登录页面
.login_main_content {
    .tab-nav {
        text-align: center;
        margin-bottom: 30px;
        > a {
            display: inline-block;
            line-height: 19px;
            font-size: 20px;
            color: #a7a7a7;
            padding: 0 20px;
            &.active {
                color: $color_main;
            }
        }
        .loginPhone {
            border-right: 1px solid #c0c4cc;
        }
    }
    form {
        display: none;
        &.active {
            display: block;
        }
        .simulation {
            [data-id="btnForget"] {
                color: $color_909399;
                text-decoration: underline;
            }
        }
        .checkbox-container {
            position: relative;
            user-select: none;
            input[type="checkbox"] {
                position: absolute;
                left: 0;
                top: 0;
                z-index: -1;
            }
            span {
                vertical-align: middle;
            }
        }
    }
    @at-root #getDynamicCode {

    }
}

/**** 第三方登录 *********/
.third_cont {
    .third_box {
        @at-root .third_title {
            position: relative;
            text-align: center;
            p {
                position: absolute;
                top: 60%;
                left: 0;
                width: 100%;
                height: 0;
                border-top: 1px solid #eceff6;
            }

            span {
                position: relative;
                font-size: 12px;
                color: $color_909399;
                padding: 0 6px;
                background: #fff;
            }
        }
        @at-root .third_content {
            text-align: center;
            margin-top: 22px;
            > a {
                display: inline-block;
                margin: 0 15px;
            }
        }
    }
}

/**** 找回密码-step1 *********/
.cOrange {
    color: $color_main;
}

.find_pw_content {
    width: 720px;
    background: #fff;
    @extend %shadow-four;
    padding: 46px 50px;

    @at-root .step_cont {
        width: 480px;
        margin: 0 auto;
        .step_text {
            span {
                color: $color_909399;
                &.active {
                    color: $color_main;
                }
            }
            .step2 {
                margin-left: 110px;
            }
        }

        .step_bar {
            position: relative;
            width: 418px;
            height: 8px;
            margin: 12px auto 37px;
            > p {
                position: absolute;
                left: 0;
                top: 50%;
                width: 100%;
                height: 0;
                border-top: 1px solid #e7e7e7;
            }
            > span {
                float: left;
                padding: 0 3px;
                background: #fff;
                position: relative;
                i {
                    float: left;
                    width: 8px;
                    height: 8px;
                    background: #e7e7e7;
                    border-radius: 50%;
                    &.active {
                        background: $color_main;
                    }
                }
            }
            .step2 {
                margin-left: 190px;
            }
            .step3 {
                float: right;
            }
        }
    }
    form {
        width: 380px;
        margin: 0 auto;
        @at-root .btn_sure {
            width: 200px;
            margin: 50px auto 50px;
            display: block;
            height: 40px;
            line-height: 40px;
            text-align: center;
            font-size: 16px;
            font-family: "Microsoft Yahei", "SimSun";
            color: #fff;
            background: $color_main;
            border-radius: 22px;
            cursor: pointer;
            &:hover {
                background: #f58220;
            }

            &[data-active="false"] {
                background: #ccc;
                cursor: default;
            }
        }
    }
    @at-root #js_reloadcode {
        float: right;
        height: 100%;
        line-height: 45px;
        font-size: 12px;
        color: $color_909399;
        margin-left: 20px;
    }
    @at-root .reg_step_msg {
        font-size: 12px;
        color: $color_909399;
        line-height: 24px;
        text-align: center;
        a {
            color: #004098;
            text-decoration: underline;
        }

        strong {
            color: #333;
        }
    }
}

/**** 第二步 -begin **********/
@at-root .find_verify_cont {
    font-size: 14px;
    width: 380px;
    margin: 0 auto;
    > h3 {
        color: #333;
    }

    @at-root .selectType {
        width: 250px;
        margin: 17px auto 26px;
        overflow: hidden;
        > div {
            float:left;
            display: inline-block;
            text-align: center;
            color: #c0c4cc;
            margin: 0 30px;
            cursor: pointer;
            &.selected {
                color: #3d8bff;
            }

            i {
                display: block;
                margin-bottom: 7px;
            }
        }
    }
}

.form_msg {
    margin-bottom: 27px;
}

.loginInfo {
    #sms {
        width: 190px;
    }
    #js_getSMS {
        display: inline-block;
        margin-right: 50px;
        width: 110px;
        height: 100%;
        line-height: 45px;
        background: $color_909399;
        text-align: center;
        color: #fff;
        border-radius: 3px;
        float: right;
        &:hover {
            color: #fff;
        }
        &.disable {
            background: #c0c4cc;
            cursor: not-allowed;
        }
    }
}

@at-root .has_send_email {
    position: relative;
    width: 330px;
    margin: 0 auto;
    line-height: 28px;
    font-size: 14px;
    > i {
        position: absolute;
        top: 9px;
        left: -43px;
    }
}

//第二步 -end

/**** step3 ***********/
#reSetPwd {
    input[type=password] {
        padding-right: 52px;
    }
}

.yourName {
    font-size: 14px;
    margin-bottom: 26px;
}
